*.tiff
*.siff
*.json
*.ipynb
*.dict
*.ref
*.roi
*.*roi
*.csv
*.h5
*.hdf5
*.DS_Store
.DS_Store
siffpy/core/_version.py
!/demo_notebooks/*.ipynb
!/demo_notebooks/demo_data/*.siff
!/demo_notebooks/demo_data/*.tiff

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Sphinx documentation
docs/_build/
docs/*.rst
!docs/index.rst
rdict.csv
flimenv.yml